.detail-container {
  z-index     : 100;
  margin      : auto;
  padding     : 10px;
  position    : absolute;
  background  : white;
  top         : 250px;
  text-align  : center;
  align-items : center;
  width: 100%;

  .analysis {
    width: 50%;
    margin: auto;
  }
  .frames {
    margin: auto;
    width: 75%;
  }
}